html, body{
  height: 100%;
}

body {
            background-image: url(../images/bg.jpg);
            background-position: center center;
            background-repeat:  no-repeat;
            background-attachment: fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size:  cover;
            background-color: #999;
            font-size: 100%;
}

.my-container{
    margin: 0 auto;
    /*border: 2px solid green;*/
}

.hline{
    display: block;
    border-bottom: 2px solid white;
}

@media (max-width:420px) {
  .my-container {
    width: 315px;
  }

  .header, .intro-container{
     font-size: 1.11em;
  }

  .hline{
    margin-bottom: 15%;
  }
}

@media (min-width:420px) {
  .my-container {
    width: 400px;
  }

  .header, .intro-container{
     font-size: 1.3em;
  }

  .hline{
    margin-bottom: 9%;
  }
}

@media (min-width:520px) {
  .my-container {
    width: 500px;
  }

  .header, .intro-container{
     font-size: 1.4em;
  }

  .hline{
    margin-bottom: 7%;
  }
}

@media (min-width: 620px) {
  .my-container {
    width: 600px;
  }
  .header, .intro-container{
    font-size: 1.5em;
  }

  .hline{
    margin-bottom: 3%;
  }
}

.header{

     display: flex;
     justify-content: space-around;
     align-items: center;
     font-family: 'Cinzel', serif;
     margin-bottom: 10px;
     /*border: 2px solid red;*/
}

.header > a:link{
    color: white;
    text-decoration: none;
}

.header > a:visited{
    color:white;
    text-decoration: none;
}

.header > a:hover{
    color:white;
    text-decoration: none;
}

.header > a:active{
    color: white;
    text-decoration: none;
    position: relative;
    top: 2px;
}

.head-img{
    border: solid black 4px;
    width: 15%;
    height: 15%;
}

.intro-container{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: black;
    padding: 10px;
    /*border: 2px solid white;*/
}

.intro-container > p > a:link{
    color: #ffff00;
    text-decoration: none;
}

.intro-container > p > a:visited{
    color: #ffff00;
    text-decoration: none;
}

.intro-container > p > a:hover{
    color: #ffff00;
    text-decoration: none;
}

.intro-container > p > a:active{
    color: #ffff00;
    text-decoration: none;
    position: relative;
    top: 2px;
}
