html, body {
  height: 100%;
  width: auto !important;
  overflow-x: hidden !important;
}

body {
  font-size: 100%;
}

.bg-home{
  background-image: url(../images/sunset.jpg);
  background-color: #FF851B;
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:  cover;
}

.home-container{
    margin: 0 auto;
    /*border: 2px solid green;*/
}

.home-hline{
    display: block;
    border-bottom: 2px solid white;
}

@media (max-width:420px) {
  .home-container {
    width: 315px;
  }

  .home-header, .intro-container{
     font-size: 1.11em;
  }

  .home-hline{
    margin-bottom: 15%;
  }
}

@media (min-width:420px) {
  .home-container {
    width: 400px;
  }

  .home-header, .intro-container{
     font-size: 1.3em;
  }

  .home-hline{
    margin-bottom: 9%;
  }
}

@media (min-width:520px) {
  .home-container {
    width: 500px;
  }

  .home-header, .intro-container{
     font-size: 1.4em;
  }

  .home-hline{
    margin-bottom: 7%;
  }
}

@media (min-width: 620px) {
  .home-container {
    width: 600px;
  }
  .home-header, .intro-container{
    font-size: 1.5em;
  }

  .home-hline{
    margin-bottom: 3%;
  }
}

.home-header{
     display: flex;
     justify-content: space-around;
     align-items: center;
     font-family: 'Poiret One', serif;
     font-weight: bold;
     margin-bottom: 10px;
     /*border: 2px solid red;*/
}

.home-header > a:link{
    color: white;
    text-decoration: none;
}

.home-header > a:visited{
    color:white;
    text-decoration: none;
}

.home-header > a:hover{
    color:white;
    text-decoration: none;
}

.home-header > a:active{
    color: white;
    text-decoration: none;
    position: relative;
    top: 2px;
}

.head-img{
    border: solid black 4px;
    border-radius: 10px;
    width: 15%;
    height: 15%;
}

.intro-container{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-align: center;
    color: black;
    padding: 10px;
    /*border: 2px solid white;*/
}

.intro-container > p > a:link{
    color: brown;
    text-decoration: none;
}

.intro-container > p > a:visited{
    color: brown;
    text-decoration: none;
}

.intro-container > p > a:hover{
    color: brown;
    text-decoration: none;
}

.intro-container > p > a:active{
    color: brown;
    text-decoration: none;
    position: relative;
    top: 2px;
}

/*  Projects CSS  */

.projects-container{
  /*border: 2px solid orange;*/
}

.projects-container-rhs, .blog-container-rhs{
    margin: 2% auto;
    /*border: 2px solid green;*/
}

.header{
     /*border: 2px solid red;*/
     display: flex;
     justify-content: space-around;
     align-items: center;
     font-family: 'Poiret One', serif;
     font-weight: bold;
     margin-bottom: 10px;
}

.header > a:link{
    color: black;
    text-decoration: none;
}

.header > a:visited{
    color: black;
    text-decoration: none;
}

.header > a:hover{
    color: black;
    text-decoration: none;
}

.header > a:active{
    color: black;
    text-decoration: none;
    position: relative;
    top: 2px;
}

.projects-hline, .blog-hline{
    display: block;
    border-bottom: 2px solid black;
    margin-bottom: 8%;
}

.blog-body{
   /*border: 3px solid black;*/
   padding: 10px;
   color: black;
   font-family: 'Raleway', sans-serif;
}

.projects-head{
  display: inline-block;
  border-radius: 10px;
  background-color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 55px;
  margin-top: 15%;
  padding: 5px;
}

.left-panel{
  border: 3px solid black;
  background-color: black;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

@media(max-width: 992px){
  .left-panel{
    height: 65vh;
  }
}

@media(min-width: 992px){
  .left-panel{
    height: 100vh;
  }
}

@media(max-width: 480px){
  .projects-container-rhs, .blog-container-rhs{
    width: 298px;
    font-size: 1em;
  }

  .header{
    font-size: 1.2em;
  }

   .blog-content-rhs{
    width: 298px;
    font-size: 1.1em;
  }
}

@media(min-width: 480px){
  .projects-container-rhs, .blog-container-rhs{
    width: 440px;
    font-size: 1.1em;
  }

  .header{
    font-size: 1.4em;
  }

   .blog-content-rhs{
    width: 440px;
    font-size: 1.3em;
  }
}

@media(min-width: 640px){
  .projects-container-rhs, .blog-container-rhs{
    width: 600px;
    font-size: 1.5em;
  }

  .header{
    font-size: 1.1em;
  }

  .blog-content-rhs{
    width: 600px;
    font-size: 1.5em;
  }
}

.left-panel h1{
  font-size: 4em;
  margin: 15% auto;
  padding: 0;
  background-color: white;
  color: black;
  display: inline-block;
  border-radius: 10px;
}

.right-panel{
  /*border: 3px solid yellow;*/
}

@media(max-width: 360px){
  .pro1, .pro3, .pro5{
    margin-left: 3%;
  }

  .pro2, .pro4, .pro6{
    margin-left: 3%;
    margin-top: 30px;
  }
}

@media(min-width: 360px){
  .pro1, .pro3, .pro5{
    margin-left: 10%;
  }

  .pro2, .pro4, .pro6{
    margin-left: 10%;
    margin-top: 30px;
  }
}

@media(min-width: 450px){
  .pro1, .pro3, .pro5{
    margin-left: 15%;
  }

  .pro2, .pro4, .pro6{
    margin-left: 15%;
    margin-top: 30px;
  }
}

@media(min-width: 540px){
  .pro1, .pro3, .pro5{
    margin-left: 25%;
  }

  .pro2, .pro4, .pro6{
    margin-left: 25%;
    margin-top: 30px;
  }
}

@media(min-width: 768px){
  .pro1, .pro3, .pro5{
    margin-left: 25%;
  }

  .pro2, .pro4, .pro6{
    margin-left: 16%;
    margin-top: 2px;
  }
}

@media(min-width: 1120px){
  .pro1, .pro3, .pro5{
    margin-left: 46%;
  }

  .pro2, .pro4 ,.pro6{
    margin-left: 2%;
    margin-top: 0px;
  }
}

.pro1, .pro2, .pro3, .pro4, .pro5, .pro6{
  position: relative;
  width: 280px;
  height: 280px;
  margin-top: 30px;
}

.pro-img{
  height: 100%;
  width: 100%;
  border: 3px solid black;
}

.pro1-text, .pro2-text, .pro3-text, .pro4-text, .pro5-text, .pro6-text{
  position: absolute;
  color: white;
  left: 10%;
  top: 23%;
  width: 80%;
  display: none;
  /*border: 2px solid violet;*/
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

.dark-pro1{
  background: black;
}

.dark-pro1 img{
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.projects-banner{
  background-image: url("../images/flyon.jpg");
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:  cover;
  height: 350px;
  text-align: center;
  border: 3px solid black;
}

/*  Blog CSS  */

.blog-img{
  background-image: url("../images/flyon.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:  cover;
}

.section{
  /*border: 3px solid brown;*/
  margin-top: 40px;
}

.date{
  /*border: 2px solid green;*/
}

.date-body{
  /*border: 2px solid blue;*/
  width: 90%;
  position: relative;
  left: 10%;
}

.date-body > h3 > a:link{
    color: #FF851B;
    text-decoration: none;
}

.date-body h3 > a:visited{
    color: #FF851B;
    text-decoration: none;
}

.date-body > h3 > a:hover{
    color: #FF851B;
    text-decoration: none;
}

.date-body > h3 > a:active{
    color: #FF851B;
    text-decoration: none;
    position: relative;
    top: 2px;
}

/* Blog Content CSS */

.top-panel{
  border: 3px solid black;
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.top-panel-img{
  background-image: url("../images/flyon.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:  cover;
}

.blog-container{
  /*border: 2px solid orange;*/
}

.blog-content-rhs{
  margin: 2% auto;
  /*border: 2px solid green;*/
}

.bottom-panel{
  border: 2px solid black;
  background-color: white;
}

.wrapper{
  /*border: 3px solid pink;*/
  margin-top: 15%;
}

.blog-content-hline{
    display: block;
    border-bottom: 2px solid black;
    margin-bottom: 5%;
}

.blogpost-head{
  background-color: white;
  color: black;
  display: inline-block;
}

.blogpost-date{
  text-align: center;
  border: solid 2px black;
  display: inline-block;
  padding: 3px;
}

.blog-info{
  text-align: left;
  border: 2px solid #FF851B;
  border-radius: 20px;
  padding: 10px;
}




